body {
  font-family: Arial;
  background: #f4f4f4;

}
button {
  padding: 8px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.navbar {
  background: #222;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.navbar button {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

