.explorer {
  width: 500px;
  margin: 40px auto;
}

.transaction-item {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}

.explorer form {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.explorer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
